.registration_template{
    background-color: rgba(255, 255, 255, 0.963);
    margin: 2rem 0rem;
    border-radius: 5px;
    min-height: 430px;
}

.register_heading{
    /* margin-top: 3rem; */
    margin: 3rem 0rem;
}
.registration_template .register_form{
    padding: 1rem;
}

.registration_template .register_form .form-control{
    background-color: rgba(211, 211, 211, 0.432);
    border: none;
    border-radius: 0;
    /* border-bottom: 1px solid black; */
    box-shadow: none;
}
.registration_template .register_form .form-control:focus{
    
    background-color: transparent;
    border: 1px solid black;
}
.register_form .next_button{
    background-color: #d4f6ccb1;
    padding: 0.5rem 2rem;
    border: none;
    border-radius: 5px;
    font-weight: bold;
}
.register_form .next_button:hover{
    border: 1px solid black;
}
