<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Basic HTML-CSS Task</title>
    <link rel="stylesheet" href="../styles/style.css">
</head>

<body>
    <div class="task_manager_box">
        <h2 class="page_header">Task Manager</h2>
        <hr>
        <form>
            <div id="task_name">
                <h4>Task Name: </h4>
                <input type="text" name="task_name" placeholder="Enter the Task">
            </div>

            <div id="task_date">
                <h4>Task Date: </h4>
                <input type="date" name="task_date">
            </div>

            <div class="task_submit_button">
                <button>Submit Task</button>
            </div>
        </form>

    </div>




</body>

</html>