<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Online-Book-Store</title>
    <link rel="stylesheet" href="../stylesheets/styles.css">
</head>

<body>
    <!-- navigation bar -->
    <nav class="navbar navbar-expand-md w-100 ">
        <div class="container">
            <a class="navbar-brand lead" href="index.html">Words N’ Pages</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse text-center" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto ">
                    <li class="nav-item">
                        <a class="nav-link" href="index.html">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="insert.html">Insert</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="about.html">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="register.html">Register</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- search box -->
    <div class="book_search_box">
        <div class="row w-100">
            <div class="col-10 col-md-6 col-lg-8 mx-auto">
                <div class="content p-2">
                    <p>Search a book that you wish to read</p>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
                        <span class="input-group-text">Search<i class="fa-solid fa-magnifying-glass ms-2"></i></span>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <!-- Register now banner -->
    <div class="register_now_banner container">
        <div class="row mx-auto mt-4 mb-4 first_row w-100">
            <div class="col">
                <div class="row second_row h-100 p-4">
                    <div class="col-12 col-md-6 col-lg-7 register_banner_text">Want to Explore the world of books??
                    </div>
                    <div class="col-12 col-md-6 col-lg-5 register_banner_button text-center">
                        <a class="p-2" href="register.html">Register Now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- rated publications -->
    <div class="rated_publications container mb-4 ">
        <div class="heading_section d-flex justify-content-between">
            <h3 class="title">Top Rated Publications</h3>
            <div class="see_more">
                <a class="text-end text-decoration-none p-2">see more</a>
            </div>
        </div>
        
        <div class="row row-cols-1 row-cols-md-3 row-cols-lg-4 g-4 w-100">
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <img src="../assets/book-placeholder.png" class="w-100 mb-3">
                        <h5 class="card-title">Book One</h5>
                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to
                            additional content. This content is a little bit longer.</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <img src="../assets/book-placeholder.png" class="w-100 mb-3">
                        <h5 class="card-title">Book One</h5>
                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to
                            additional content. This content is a little bit longer.</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <img src="../assets/book-placeholder.png" class="w-100 mb-3">
                        <h5 class="card-title">Book One</h5>
                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to
                            additional content. This content is a little bit longer.</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <img src="../assets/book-placeholder.png" class="w-100 mb-3">
                        <h5 class="card-title">Book One</h5>
                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to
                            additional content. This content is a little bit longer.</p>
                    </div>
                </div>
            </div>
        </div>
        
        
    </div>

    <!-- categories -->
    <!-- footer -->
























    <script src="../javascript-files/index.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js"
        integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.min.js"
        integrity="sha384-ODmDIVzN+pFdexxHEHFBQH3/9/vQ9uori45z4JjnFsRydbmQbmL5t1tQ0culUzyK"
        crossorigin="anonymous"></script>
</body>

</html>